@layer components {
	/* Root switch wrapper */
	.root:not(:global(.headless)) {
		/* Layout variables */
		--switch-height: 1.25rem;
		--switch-width: 2rem;
		--switch-padding: 0.125rem;
		--switch-duration: var(--c15t-duration-normal);
		--switch-ease: var(--c15t-easing);

		/* Thumb sizes */
		--switch-thumb-size: 0.75rem;
		--switch-thumb-size-disabled: 0.625rem;
		--switch-thumb-translate: calc(
			var(--switch-width) -
			var(--switch-thumb-size) -
			2 *
			var(--switch-padding)
		);

		/* Colors */
		--switch-background-color: var(--c15t-switch-track);
		--switch-background-color-dark: var(--c15t-switch-track);
		--switch-background-color-hover: var(--c15t-surface-hover);
		--switch-background-color-hover-dark: var(--c15t-surface-hover);
		--switch-background-color-checked: var(--c15t-switch-track-active);
		--switch-background-color-checked-dark: var(--c15t-switch-track-active);
		--switch-background-color-disabled: var(--c15t-border);
		--switch-background-color-disabled-dark: var(--c15t-border);
		--switch-thumb-background-color: var(--c15t-switch-thumb);
		--switch-thumb-background-color-dark: var(--c15t-switch-thumb);
		--switch-thumb-background-color-disabled: var(--c15t-surface-hover);
		--switch-thumb-background-color-disabled-dark: var(--c15t-surface-hover);

		/* Shadows */
		--switch-shadow-thumb: 0 0 0 1px var(--c15t-border);
		--switch-shadow-thumb-dark: 0 0 0 1px var(--c15t-border);
		--switch-focus-ring: var(--c15t-primary);
		--switch-focus-ring-dark: var(--c15t-primary);
		--switch-focus-shadow: 0 0 0 2px var(--switch-focus-ring);
		--switch-focus-shadow-dark: 0 0 0 2px var(--switch-focus-ring-dark);

		display: block;
		height: var(--switch-height);
		width: var(--switch-width);
		flex-shrink: 0;
		box-sizing: border-box;
		padding: 0;
		outline: none;
		font-family: inherit;
		font-size: 100%;
		line-height: 1.15;
		margin: 0;
		white-space: nowrap;
		border: 0;
		background: none;
		border-radius: 9999px;
		touch-action: manipulation;
	}

	/* Switch track */
	.root:not(:global(.headless)) .track {
		display: flex;
		align-items: center;
		position: relative;
		box-sizing: border-box;
		overflow: hidden;
		height: 100%;
		width: 100%;
		border-radius: 9999px;
		padding: var(--switch-padding);
		background-color: var(--switch-background-color);
		outline: none;
		transition: background-color var(--switch-duration) var(--switch-ease);
	}

	:global(.c15t-dark) .root:not(:global(.headless)) .track {
		background-color: var(--switch-background-color-dark);
	}

	/* Track states */
	.root:not(:global(.headless)) .track:hover {
		background-color: var(--switch-background-color-hover);
	}

	:global(.c15t-dark) .root:not(:global(.headless)) .track:hover {
		background-color: var(--switch-background-color-hover-dark);
	}

	.root:not(:global(.headless)) .track:focus-visible {
		background-color: var(--switch-background-color-hover);
	}

	:global(.c15t-dark) .root:not(:global(.headless)) .track:focus-visible {
		background-color: var(--switch-background-color-hover-dark);
	}

	.root:not(:global(.headless)) .track:active {
		background-color: var(--switch-background-color);
	}

	:global(.c15t-dark) .root:not(:global(.headless)) .track:active {
		background-color: var(--switch-background-color-dark);
	}

	.root:not(:global(.headless))[data-state="checked"] .track {
		background-color: var(--switch-background-color-checked);
	}

	:global(.c15t-dark)
		.root:not(:global(.headless))[data-state="checked"]
		.track {
		background-color: var(--switch-background-color-checked-dark);
	}

	.root:not(:global(.headless))[data-state="checked"]:hover .track {
		background-color: var(--switch-background-color-checked);
	}

	:global(.c15t-dark)
		.root:not(:global(.headless))[data-state="checked"]:hover
		.track {
		background-color: var(--switch-background-color-checked-dark);
	}

	/* Disabled states */
	.root:not(:global(.headless))[data-disabled] {
		cursor: not-allowed;
	}

	.root:not(:global(.headless)):focus {
		outline: none;
	}

	:global(.c15t-dark) .root:not(:global(.headless)):focus {
		outline: none;
	}

	.root:not(:global(.headless))[data-disabled] .track {
		background-color: var(--switch-background-color-disabled);
		opacity: 0.4;
		box-shadow: inset 0 0 0 1px hsl(0, 0%, 92.16%);
	}

	:global(.c15t-dark) .root:not(:global(.headless))[data-disabled] .track {
		background-color: var(--switch-background-color-disabled-dark);
	}

	.root:not(:global(.headless))[data-state="checked"][data-disabled] .track {
		background-color: var(--switch-background-color-checked);
		opacity: 0.4;
		box-shadow: none;
	}

	:global(.c15t-dark)
		.root:not(:global(.headless))[data-state="checked"][data-disabled]
		.track {
		background-color: var(--switch-background-color-checked-dark);
	}

	/* Switch thumb */
	.root:not(:global(.headless)) .thumb {
		position: relative;
		display: block;
		box-sizing: border-box;
		pointer-events: none;
		width: var(--switch-thumb-size);
		height: var(--switch-thumb-size);
		transition: transform var(--switch-duration) var(--switch-ease);
		transform: translateX(0);
	}

	/* Thumb states */
	.root:not(:global(.headless)) .thumb::before {
		content: "";
		position: absolute;
		box-sizing: border-box;
		inset-block: 0;
		left: 0;
		width: 100%;
		border-radius: 9999px;
		background-color: var(--switch-thumb-background-color);
		mask:
			radial-gradient(
				circle farthest-side at 50% 50%,
				#0000 1.95px,
				#000 2.05px 100%
			)
			50% 50% / 100% 100% no-repeat;
	}

	:global(.c15t-dark) .root:not(:global(.headless)) .thumb::before {
		background-color: var(--switch-thumb-background-color-dark);
	}

	.root:not(:global(.headless)) .thumb::after {
		content: "";
		position: absolute;
		box-sizing: border-box;
		inset-block: 0;
		left: 0;
		width: 100%;
		border-radius: 9999px;
		box-shadow: var(--switch-shadow-thumb);
	}

	:global(.c15t-dark) .root:not(:global(.headless)) .thumb::after {
		box-shadow: var(--switch-shadow-thumb-dark);
	}

	.root:not(:global(.headless))[data-state="checked"] .thumb {
		transform: translateX(var(--switch-thumb-translate));
	}

	.root:not(:global(.headless))[dir="rtl"][data-state="checked"] .thumb {
		transform: translateX(calc(-1 * var(--switch-thumb-translate)));
	}

	.root:not(:global(.headless)) .track:active .thumb {
		transform: scale(0.833);
	}

	.root:not(:global(.headless))[data-disabled] .thumb::after {
		box-shadow: none;
	}

	.root:not(:global(.headless))[data-state="checked"][data-disabled] .thumb {
		transform: translateX(var(--switch-thumb-translate));
	}

	.root:not(:global(.headless)):focus-visible {
		outline: none;
	}

	.root:not(:global(.headless)):focus-visible .track {
		outline: 2px solid var(--switch-focus-ring);
		outline-offset: 2px;
	}

	:global(.c15t-dark) .root:not(:global(.headless)):focus-visible .track {
		outline-color: var(--switch-focus-ring-dark);
	}

	.root:not(:global(.headless))[data-size="small"],
	.rootSmall:not(:global(.headless)) {
		--switch-height: 1rem;
		--switch-width: 1.75rem;
		--switch-padding: 0.125rem;
		--switch-thumb-size: 0.625rem;
		--switch-thumb-size-disabled: 0.5rem;
		--switch-thumb-translate: calc(
			var(--switch-width) -
			var(--switch-thumb-size) -
			2 *
			var(--switch-padding)
		);
	}

	.root:not(:global(.headless))[data-size="small"] .track,
	.trackSmall:not(:global(.headless)) {
		width: 100%;
		height: 100%;
	}

	.root:not(:global(.headless))[data-size="small"] .thumb,
	.thumbSmall:not(:global(.headless)) {
		width: var(--switch-thumb-size);
		height: var(--switch-thumb-size);
	}

	/* Reduced motion preference */
	@media (prefers-reduced-motion: reduce) {
		.root:not(:global(.headless)) .track,
		.root:not(:global(.headless)) .thumb {
			transition: none;
		}
	}

	/* Touch device hover reset - prevents "sticky" hover on tap */
	@media (hover: none) {
		.root:not(:global(.headless)) .track:hover {
			background-color: var(--switch-background-color);
		}

		.root:not(:global(.headless))[data-state="checked"] .track:hover {
			background-color: var(--switch-background-color-checked);
		}
	}
}
